textarea{
  width: 100%;
}
h1{
  color: #104685;
  border-bottom: 2px solid #104685;
}

.light-weight{
  font-weight: 300;
  font-size: 16px;
}

.bold-weight{
  font-weight: 600;
  font-size: 16px;
}
