<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> TrackNHeal - Forgot Password </title>

  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/custom.css">
  <link rel="stylesheet" href="../../assets/font-awesome/css/font-awesome.css">


</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top" id="main-nav">
  <a class="navbar-brand" routerLink="">
    <img class="logo" alt="Medbooking logo" src="../../assets/images/medbooking-white-horizontal.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#exCollapsingNavbar">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse " id="exCollapsingNavbar">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a class="nav-link" data-value="signupin" routerLink="/signupin">Sign up/Sign in</a></li>
      <li class="nav-item">
        <a class="nav-link " data-value="search" routerLink="/search">Search a doctor</a>
      </li>
    </ul>
  </div>
</nav>

<div class="gap"></div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fas fa-lock fa-4x"></i>
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <div class="panel-body">
              <form id="register-form" method="post">
                <div class="form-group">
                  <div class="input-group">
                                        <span class="input-group-addon"><i
                                          class="glyphicon glyphicon-envelope"></i></span>
                    <input id="email" name="email" placeholder="email address" class="form-control"
                           type="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <input class="mdBtn btn-lg btn-primary btn-block" value="Reset Password"
                         type="submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gap"></div>
</body>
<div class="gap"></div>
<div class="fixed-bottom">
  <!-- Footer -->
  <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-4">© 2019 Copyright: Dalhousie University
      <!-- Router link guide https://angular.io/api/router/RouterLink-->
      <a class="contact" routerLink="/contact"><strong> Contact Us </strong> <i class="fas fa-envelope"> </i> </a>
      <a class="docprofile" routerLink="/docmyappointments"><strong>CLICK HERE TO GO TO DOCTOR HOMEPAGE</strong></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
</html>
