<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MedBooking</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="../../assets/images/favicon16x16.png" sizes="16x16">

  <!-- CSS -->
  <link rel="stylesheet" href="../../assets/bootstrap-4.2.1-dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
</head>
<body>
<app-navbar></app-navbar>
<app-search></app-search>
<app-footer></app-footer>


<script src='../../assets/js/jquery.min.js'></script>
<script src="../../assets/bootstrap-4.2.1-dist/js/bootstrap.js"></script>
<script src='../../assets/js/main.js'></script>
</body>
</html>
